/* Centrar todo el contenido */
#burguerSelling .flex {
    display: flex; /* Agrega esta línea */
    width: 99.3vw;
    height: auto;
    margin: 0 auto; /* Centrado horizontal */
    justify-content: center; /* Centrado vertical */
    margin-bottom: 20px; 
    z-index: 5;
}

#burguerSelling .flex > .card {
    width: 350px;
    height: 50vh;
    margin: 0 auto;
    background-color: rgb(230, 217, 203);
    margin-top: 20px;
    margin-right: 20px; /* Espacio entre las tarjetas */
    margin-left: 20px;
    margin-bottom: 20px; /* Espacio inferior entre las tarjetas */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}



#burguerSelling .flex > .card img {
    width: 100%;
    height: 60%;
    object-fit: contain;
    margin-top: 0; /* Ajuste para colocar la imagen en el borde superior */
    transition: 0.3s ease;
    background-color: var(--burguerSellingCardColor); 

    transform: translateY(-15%);
}

#burguerSelling .flex > .card img:hover {
    cursor: pointer; /* Cambia el cursor solo cuando se pasa sobre la imagen */
}

.flex > .card p {
    font-family: var(--mainFont);
    text-align: center;
    font-size: 25px;
    color: black;
    margin-bottom: 0px;
}

#burguerSelling .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 50px; /* Espacio entre las tarjetas */
    background-color: var(--mainColor);
}

/* Aplicar estilos adicionales a las imágenes dentro de las tarjetas */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card button {
    width: 200px;
    z-index: 2;
    background-color: var(--burguerSellingCardColor); 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 10px auto 0; /* Reducir el margen superior y agregar margen inferior */
    font-family: var(--mainFont);
    text-align: center;
    align-items: center;
    transition: 0.3s ease;
}

.buy-button:hover{
    background-color: #3e8e41;
    transition: 0.3s ease;
}


@media screen and (max-width: 768px) {
    .buy-button{
        transform: translateY(-12vh);
    }
}