#shoppingcart{
    width: 40vw;
    /* min-width: 320px; */
    height: calc(100vh - 100px);

    background-color: var(--footerColor);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    top: 100px;
    left: 60vw;
    position: fixed;

    z-index: 10;
}

@media screen and (orientation: portrait){
    
    #shoppingcart{
        width: 100vw;
        height: calc(100vh - 100px);

        left: 0px;
    }
}

#shoppingcart > #exitShoppingcart,
#buyShoppingcart,
#tickets{
    width: 300px;
    height: 50px;

    background-color: var(--mainColor);
    
    border: 0px;
    border-radius: 20px;

    font-size: 20px;
    font-weight: 700;
    color: var(--footerColor)--
}

#shoppingcart > .flex{
    width: 30vw;
    height: 60%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 20px;

    overflow-y: auto;
}

#shoppingcart > .flex::-webkit-scrollbar{
    left: 10000px;
}

#shoppingcart > .flex > .item{
    min-width: 280px;
    width: 20vw;
    min-height: 180px;
    height: 180px;

    border-radius: 5px;

    background-color: antiquewhite;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (orientation: portrait){
    #shoppingcart > .flex{
        width: 100vw;
    }

    #shoppingcart > .flex > .item{
        width: 280px;
    }
}

#shoppingcart > .flex > .item > .commonInfo{
    display: flex;
    flex-direction: column;
}

#shoppingcart > .flex > .item > .commonInfo > img{
    width: 100px;
}

#shoppingcart > .flex > .item > .priceInfo{
    display: flex;
    flex-direction: column;

    gap: 20px;

    align-items: center;
}

#shoppingcart > .flex > .item > .priceInfo > .buttons{
    display: flex;
    gap: 5px;
}

#shoppingcart > .flex > .item > .priceInfo > .buttons > *{
    width: 30px;
    height: 30px;

    background-color: var(--footerColor);

    border: 0px;

    border-radius: 5px;

    box-sizing: content-box;

    text-align: center;

    color: var(--mainColor);
    font-size: 18px;
    font-weight: 800;
}

#shoppingcart > .flex > .item > .priceInfo > .buttons > *::placeholder{
    color: var(--mainColor);
}

/* #shoppingcart > .flex > .item > p{
    text-align: center;
    <div id="shoppingcart">
        <button id="exitShoppingcart"></button>
        <div class="flex">
            <div class="item">
                <div class="commonInfo">
                    <img src="">
                    <p>Burguer 1</p>
                </div>
                <div class="priceInfo">
                    <p>Price</p>
                    <div class="buttons">
                        <button>+</button>
                        <input type="text" placeholder="0">
                        <button>-</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
} */